@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Frank+Ruhl+Libre:wght@300..900&family=Monomakh&family=Noto+Nastaliq+Urdu:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oi&family=Oleo+Script:wght@400;700&family=Pacifico&family=Patua+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reem+Kufi:wght@400..700&display=swap');
.form {
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: 100%;
 }
 /* styling of Input */
 .input {
  color: white;
  width: 100%;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  text-align: end;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
 }
 /* styling of animated border */
 .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
 }
 /* Hover on Input */
 input:hover {
  background: var(--input-hovered-color);
 }
 
 input:focus {
  outline: none;
 }
 /* here is code of animated border */
 input:focus ~ .input-border {
  width: 100%;
 }

 input:valid ~ .input-border{
   width: 100%;
 }

 
 .eid-card {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #5f5e59;
  padding: 10px;
  border-radius: 15px;
  max-width: 600px;
  font-weight: 700;
  margin: 0 auto;
  line-height: 1.6;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.moon {
  font-size: 2.5rem;
  vertical-align: middle;
}